@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    // background-color: black;
    // background-image: url("https://vnvnation.com/cnt/gallery/LIVE/AG-7142.jpg");
    
    min-height:100vh;
      background:linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(16, 16, 59, 0.45)), url(https://vnvnation.com/cnt/gallery/LIVE/AG-7142.jpg);
      background-size:cover;
      background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 8px;
    position: relative;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
    color: $theme-yellow !important;
    background: #FBAF4420 !important;
}

.p-dropdown:not(.p-disabled).p-focus {
    outline: 1px solid $theme-yellow !important;
    outline-offset: -1px !important;
}

.p-checkbox.p-highlight .p-checkbox-box {
  border-color: #FBAF44 !important;
  background: #FBAF44 !important;
}

.p-checkbox:not(.p-disabled):has(.p-checkbox-input:hover).p-highlight .p-checkbox-box {
  border-color: #FBAF44 !important;
  background: #FBAF44 !important;
  color: #ffffff;
}

.p-menuitem {
  margin: 0 8px !important;
  padding: 0 0px; 
}

.p-menuitem-content{
  padding: 8px 0px !important;
  text-decoration-color: white !important;
}
.p-focus{
  background-color: rgba(0, 0, 0, 0);
  background: rgba(0, 0, 0, 0);
}

.p-menuitem-content:hover{
  background-color: #FBAF44;
}

.p-menubar.p-menubar-mobile .p-menubar-button:focus {
  outline: 0px solid var(--p-focus-ring-color);
  outline-offset: 2px;
  box-shadow: none;
}

.p-menubar-root-list {
  background-color: #1E293B;
  background: #1E293B;
  border-color: rgba(0, 0, 0, 0);
  border-radius: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
}

@media screen and (min-width: 480px) {
  .p-menubar-root-list {
    background-color: #1E293B;
    background: #1E293B;
    border-color: rgba(0, 0, 0, 0);
    border-radius: 8px;
    padding: 0px;
  }
}

.p-menuitem .p-menubar-root-list > .p-menuitem:not(.p-highlight):not(.p-disabled) > .p-menuitem-content:hover {
  background-color: rgba(0, 0, 0, 0);
  background: rgba(0, 0, 0, 0);
}

.p-menubar .p-menuitem:not(.p-highlight):not(.p-disabled).p-focus > .p-menuitem-content {
  background-color: rgba(0, 0, 0, 0);
  background: rgba(0, 0, 0, 0);
}

.router-link-active {
  margin: 0;
  padding: 8px 8px;
  border-radius: 5px;
  background-color: #FBAF44;
}

a {
text-decoration: none;
}

a:visited {
text-decoration: none;
color: white;
}